* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

#typing {
    font-size: 2rem;
    color: white;
    border-right: 4px solid white;
    animation: typing 5s steps(22) 1s infinite alternate;
}

#crow {
    width: 20;
    height: 20px;
    background: url("crow.png");
    animation: crow 0.5s linear 0s infinite;
}

.OP {
    color: rgb(0,0,255);
    font-size: bold;
}

@keyframes typing {
    from {width: 0;}
}

@keyframes crow {
    transform: translateX(20px);
}